In [14]:
import pandas as pd
from datetime import datetime

# Coleta de dados do site do IBGE

In [15]:
# Coletando dados do IBGE
url = 'https://www.ibge.gov.br/explica/codigos-dos-municipios.php#RJ'

DadosIBGE = pd.read_html(url, match="Municípios do Rio de Janeiro")[0]

# Renomear colunas do df
DadosIBGE = DadosIBGE.rename(columns={'Municípios do Rio de Janeiro':'nmMunic','Códigos':'codMunic'})

# Alterando o nome do index
DadosIBGE.index.name = 'idMunic'

# Alterando o index para comelar em 1
DadosIBGE.index = DadosIBGE.index + 1

# Adicionoar uma coluna de data e hora decarga 
DadosIBGE['dtCarga'] = datetime.today().strftime('%d/%m/%Y %H:%M')

DadosIBGE

                    nmMunic  codMunic           dtCarga
idMunic
1            Angra dos Reis   3300100  27/05/2024 17:40
2                   Aperibé   3300159  27/05/2024 17:40
3                  Araruama   3300209  27/05/2024 17:40
4                     Areal   3300225  27/05/2024 17:40
5        Armação dos Búzios   3300233  27/05/2024 17:40
...                     ...       ...               ...
88                Três Rios   3306008  27/05/2024 17:40
89                  Valença   3306107  27/05/2024 17:40
90                Varre-Sai   3306156  27/05/2024 17:40
91                Vassouras   3306206  27/05/2024 17:40
92            Volta Redonda   3306305  27/05/2024 17:40

[92 rows x 3 columns]

# Criando o Banco de Dados ODS